.grid {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 70vh;
  margin-top: 1.5em;
  margin-left: 0.8em;
  padding-bottom: 0.8em;
  background-color: rgba(0, 0, 0, 0.10); /* 10% de opacidade para #000000 */
  overflow: hidden;
}

.column {
  flex: 1;
}

.disciplineCard {
  background-color: #791D1F;
  margin-top: 0.55em;
  margin-bottom: 1em;
  margin-left: 0.75em;
  border-radius: 7px;
  text-align: center;
  transition: background-color 0.5s ease, transform 0.3s ease; /* Animação */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 79%;
  opacity: 0.88;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.disciplineCard:hover,
.disciplineCard.highlight {
  transform: scale(1.08); /* Efeito de zoom */
  background-color: #791D1F;
  opacity: 1.0;
}

.column h2 {
  text-align: center;
  color: #791D1F;
}

.disciplineCode, .disciplineName {
  margin: 0.5em 1em;
}

.disciplineCode {
  font-size: 80%;
}

.disciplineName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72%;
}

.weeklyDisciplineLoad {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .disciplina {
    height: auto;
    width: 90%;
  }
}
