.dinamycAreaContainer {
  display: flex;
  align-items: center;
  width: 99.2vw;
  margin-left: 0.3%;
  margin-top: 0.4em;
  height: 22vh;
  padding: 0.5em 1em;
  background-color: rgba(121, 29, 31, 0.90);
  border-radius: 8px;
  box-sizing: border-box;
}